.card-container{
    margin: 21px;
    border: 2px solid white;
    border-radius: 38px;
    width: 225px;
    height: 380px;
    /* height: auto; */
    display: inline-block;
    overflow: hidden;
    padding: 6px;
}
.name,.bio,.contact-info{
    display: block;
    margin: 15px;
    font-family: monospace;
}
.profile> img{
    display: block;
    border-radius: 147px;
    margin-left: 34px;
    margin-top: 16px;
    height: 164px;
}

.profile {
    margin-top: 11px;
    width: 182px;
    border-radius: 33px;
}